{% extends 'pfm/base.html' %}
{% block content %}
<h1>Budget List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for budget in budgets %}
        <tr>
            <td>{{ budget.id }}</td>
            <td>{{ budget.name }}</td>
            <td>{{ budget.allocated_amount }}</td>
            <td>
           
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
