{% extends 'pfm/base.html' %}
{% block content %}
<h1>Income List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for income in incomes %}
        <tr>
            <td>{{ income.id }}</td>
            <td>{{ income.name }}</td>
            <td>{{ income.amount }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block footer %}  <footer>
    <p>&copy; 2023 Personal Finance Manager</p>
</footer>
{% endblock %}
